.form-wrapper{
    width: 80vw;
    height: max-content;
    min-height: 100px;
    margin: auto;
    padding-bottom: 30px;
    border: 1px solid black
}

.form-wrapper h1{
    text-align: center;
}

.form-wrapper div{
    width: 80%;
    display: inline-block;
}

.form-wrapper div:last-child{
    width: 15%;
}

.form-wrapper div input{
    width: 80%;
    height: 30px;
    margin: auto 10% 15px;

}

.form-wrapper div label{
    width: 80%;
    margin: auto 10%;
}

.form-wrapper button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: #1155FF;
    margin: 5px 15px;
}